*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #002339;
    color: #fff;
}
#container{
    margin: 9%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
#container h1{
    font-weight: 500;
    font-size: 45px;
}
#container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.display i{
    width: 30px;
    font-size: 27px;
    cursor: pointer;
}
#container button i{
    width: 28px;
    margin-right: 10px;
}
#container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
#container button:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.fa-copy:hover {
    color: #45b39d;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
#message-box {
    visibility: hidden;
    min-width: 100px;
    background-color: #63E6BE;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: calc(75% + 0px);
    left: 95%;
    transform: translateX(-50%);
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: visibility 0s, opacity 0.5s ease-in-out;
    opacity: 0;
}

#message-box.show {
    visibility: visible;
    opacity: 1;
}
#container img{
    height: 100px;
    width: fit-content;
}
footer{
    text-align: center;
    padding: 3px;
    color: #c5b9b9;
}
